<!DOCTYPE html>
<html>
    <head>
        <%- include('../layout/head') %>
    </head>
    <body>
        <%- include('../layout/header') %>
        <form method = "POST">
            <label>Username <input name = "username" /></label>
            <button>Login</button>
        </form>
    </body>
</html>